.main {
  margin-top: 160px;
  background-color: white;
  border-radius: 10px;
}

form,
p {
  text-align: center;
}

.flex {
  display: flex;
}

.other-cont {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #fdefe9ad ;
  border-radius: 4px;
}
